<div class="about-content">
  <div class="base-form about">
    <img src=" <%= asset_path "pwr.png" %>">
    <p>This application was created as part of my <br>Diploma Thesis.</p><br>
    <p><strong>Thank you for stopping by!</strong></p>
    <table>
      <tr>
        <td>
          Author:
        </td>
        <td>
          Alexander Donets
        </td>
      </tr>
      <tr>
        <td>
          E-mail:
        </td>
        <td>
          adonets1995@gmail.com
        </td>
      </tr>
    </table>
  </div>
</div>
